Package: com.emufreak.iUAE
Name: iUAE
Version: 1.0
Description: Amiga Emulator for Ipad - a Fork of iAmiga
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority:
Architecture: iphoneos-arm
Author: Emufreak
dev: 
Homepage: https://github.com/emufreak/iAmiga/
Depiction: 
Maintainer: Emufreak
Icon:

